<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.1.0" targetFramework="net45" />
  <package id="DynamicLanguageRuntime" version="1.2.1" targetFramework="net45" />
  <package id="EPPlus" version="4.5.1" targetFramework="net45" />
  <package id="IronPython" version="2.7.8.1" targetFramework="net45" />
</packages>